html
	head
		script(type="text/javascript", src="../bower_components/jquery/dist/jquery.js")
		script(type="text/javascript", src="../dist/jsfontscale.js")
		script.
			jsfs = new jsfontscale()



	body
		for size in ["0.3","0.5","1","2","3","5.5"]
			h1(style="font-size:" + size + "em") font-size: #{size} em

